.InfoCard {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--cardColor);
    width: 90%;
}

@media(max-width:837px) {
    .InfoCard {
        width: auto;
        margin-right: 0px;
    }
}

.InfoHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.InfoHead>svg {
    cursor: pointer;
}

.logoutBtn {
    width: 7rem;
    height: 2rem;
    margin-top: 6rem;
    align-self: flex-end;
}