.Post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}

.nameUsernameContainer{
    display: flex;
    flex-direction: column;
}

.nameUsernameThreedotsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pointer{
    cursor: pointer;
}

.editDeleteContainer{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #f1f1f1;
}

.editDeleteContainer hr{
    width: 90%;
    opacity: 0.3;
}

.descDeleteEditContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Post>img{
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.PostReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.PostReact>img{
    cursor: pointer;
}

.Likes{
    color: var(--gray);
    font-size: 13px;
    font-weight: bold;
}

.detail{
    display: flex;
    flex-direction: column;
}

.postDesc{
    margin-top: 18px;
}

.commentBox{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

.commentBox h4{
    margin-left: 10px;
}

.commentBox hr{
    width: 100%;
}

.comment{
    background-color: #ecd4f9;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 4px;
}

.allComments{
    /* border: 2px solid green; */
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}

.commentSender{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.commentSender input{
    padding: 10px;
    border: 2px solid orange;
    outline: none;
    width: 50%;
    margin-top: 15px;
    border-radius: 15px;
    font-size: 17px;
}

.commentBtn{
    padding: 12px;
    margin-top: 15px;
    margin-left: 5px;
}