.LogoSearch {
    display: flex;
    height: 3rem;
    align-items: center;
}

.LogoSearch .logo {
    height: 65px;
}

.Search {
    display: flex;
    background: var(--inputColor);
    border-radius: 10px;
    padding: 5px;
}

.Search input {
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bold;
}

.s-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(106.23deg, #f99827, #f95f35 100%);
    border-radius: 5px;
    padding: 4px;
    color: white;
    cursor: pointer;
}