.Verify {
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

@media(max-width:1000px) {
    .Verify {
        background-image: url('../../img/otpSend.png');
        background-repeat: no-repeat;
        object-fit: cover;
        border-image-width: 10px;
        flex-direction: column;
        background-position:top center;
    }

    .Verify img {
        display: none;
    }
}

.startingDiv {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.startingDiv>span {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.Form {
    background: rgb(239 235 235 / 64%);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 13rem;
    align-items: center;
    justify-content: center;
}

@media(max-width:1000px) {
    .Form {
        background: rgb(239 235 235 / 80%);
        width: 350px;
    }
}

@media(max-width:400px) {
    .Form {
        width: 300px;
    }
}

.veriBtn {
    align-self: flex-end;
    width: 30%;
    height: 2.5rem;
}

.endDivOfForm {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.endDivOfForm>span {
    margin-left: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.Toastify__close-button {
    display: none;
}

.Toastify__toast-body>div:last-child {
    flex: 1 1;
    color: #41cb32;
    font-weight: bold;
}